body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* Header Section */

header {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 200px 0px 200px;
}

.header .left-links, .header .right-links {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 25px;
}

.header .left-links a{
    font-weight: 600;
    font-size: 24px;
    color: #f9f9f9
}

.header .right-links a{
    color: #e5e5e5;
    font-size: 18px;
}

/* Hero */

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 150px 200px 150px 200px;
    height: 250px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

.left-items {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.left-items p {
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

/* Button */
.left-items a {
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    font-weight: 600;
    width: 150px;
    height: 45px;
    border-radius: 0.8rem;
    margin-top: 15px;
    flex-shrink: 0;
}

/* Image Placeholder */
.right-items {
    display: flex;
    color: #E5E7EB;
    align-items: center;
    font-size: 18px;
    background-color: #858586;
    padding: 50px 150px 50px 150px;
}

/* Content Section */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 250px 50px 250px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 10px;
}

.content-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-boxes p {
    flex-basis: 150px;
}